# Ignore everything by default
*

# Whitelist: un-ignore exactly what is versioned
!.gitignore
!/.python-version
!/LICENSE
!/README.md
!/pyproject.toml
!/uv.lock
!/src/
!/src/**
!/tests/
!/tests/**
!/.opencode/
!/.opencode/**
# Generated artifacts stay ignored even inside whitelisted trees
__pycache__/
*.pyc
*.egg-info/
.venv/
.ruff_cache/
logs/
transcript_output/